<div class="box-style">
<h1 class="partial-content-header">Contact us</h1>
<div class="label label-success" ng-show="showMsg">Message sent successfully !!!</div>
<table width="90%" style="padding-right:5px;padding-left:5px;font-family:'Trebuchet MS', Helvetica, sans-serif" class="table box-style">
				<tbody>
					<tr>
						<td align="left"><font color="#FF0000" size="1" face="Verdana, Arial, Helvetica, sans-serif"><b>*</b></font>Required</td>
						<td align="right"></td>
					</tr>
					<tr >
						<td style="border-bottom: 1px solid #D8D8D8;" align="left"><b>Name:<font color="#FF0000"> *</font></b></td>
						<td style="border-bottom: 1px solid #D8D8D8;" align="left"><font color="#000000" size="2" face="Arial">
						<input id="name" name="name" type="text" value="" size="20" maxlength="150" class="form-control" ng-model="contact.name">
						</font></td>
					</tr>
					<tr bgcolor="#FFFFFF">
						<td style="border-bottom: 1px solid #D8D8D8;" align="left"><b> Email
						Address:<font color="#FF0000"> *</font></b></td>
						<td style="border-bottom: 1px solid #D8D8D8;" align="left">
						<input name="email" type="text" id="email" size="20" maxlength="100" class="form-control" ng-model="contact.email">
					</td></tr>
					<tr bgcolor="#FFFFFF">
						<td style="border-bottom: 1px solid #D8D8D8;" align="left"><b> Phone
						Number (with country code):<font color="#FF0000"> *</font></b></td>
						<td style="border-bottom: 1px solid #D8D8D8;" align="left">
						<input name="phone" type="text" id="phone" size="20" maxlength="20" class="form-control" ng-model="contact.phone">
					</td></tr>
					<tr bgcolor="#FFFFFF">
						<td style="border-bottom: 1px solid #D8D8D8;" align="left"><b> Best way to reach you:
						<font color="#FF0000"> *</font></b></td>
						<td style="border-bottom: 1px solid #D8D8D8;" align="left">

													<input type="radio" value="Email" ng-model="contact.contactWay" ng-init="contact.contactWay='Email'"/>&nbsp;Email&nbsp;
													<input type="radio" value="Phone" ng-model="contact.contactWay" />&nbsp;Phone&nbsp;

						</td>
					</tr>
					<tr bgcolor="#FFFFFF">
						<td style="border-bottom: 1px solid #D8D8D8;" align="left"><b> Best time to contact you:
						<font color="#FF0000"> *</font></b></td>
						<td style="border-bottom: 1px solid #D8D8D8;" align="left">
							<select id="timeToContact" name="timeToContact" class="form-control" ng-model="contact.timeToContact" ng-init="contact.timeToContact='09-12'">
								<option value="09-12">09.00-12.00</option>
								<option value="12-15">12.00-15.00</option>
								<option value="15-18">15.00-18.00</option>
							</select>
						</td>
					</tr>
					<tr >
						<td colspan="1"><b>Message:<font color="#FF0000">
						*</font></b></td>
						<td colspan="1" style="border-bottom: 1px solid #D8D8D8;" align="left"><font color="#000000" size="2" face="Arial">
						<textarea cols="40" rows="4" id="query" name="query" class="form-control" ng-model="contact.query"></textarea></font></td>
					</tr>

					<tr>
						<td colspan="2" align="right"><input name="submit" type="submit" ng-click="contactNow()" class="btn btn-primary" value="Submit"></td>
					</tr>

				</tbody>
			</table>
</div>