<div align="center">
	<h1>Login</h1>
	<div class="container">
		        <div class="row">
		            <div class="col-sm-6 col-md-4 col-lg-3">User Id</div>
		            <div class="col-sm-6 col-md-4 col-lg-3"><input type="text" ng-model="user.userName"></input></div>
		            <div class="clearfix visible-sm-block"></div>
		            <div class="col-sm-6 col-md-4 col-lg-3">Password</div>
		            <div class="clearfix visible-md-block"></div>
		            <div class="col-sm-6 col-md-4 col-lg-3"><input type="password" ng-model="user.password"></input></div>

		            <div class="clearfix visible-sm-block"></div>
		            <div class="clearfix visible-lg-block"></div>
		            <div align="right"><button type="button" class="btn btn-warning" ng-click="login();">Login</button></div>
		        </div>
    </div>
</div>