
<div class="bs-example">
    <div id="sliderCs" class="carousel slide" data-interval="2000" data-ride="carousel">
    	<!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#sliderCs" data-slide-to="0" class="active"></li>
            <li data-target="#sliderCs" data-slide-to="1"></li>
            <li data-target="#sliderCs" data-slide-to="2"></li>
        </ol>
       <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <!-- <h2>Slide 1</h2>
                <div class="carousel-caption">
                  <h3>First slide label</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                -->
                <img alt="" src="images/ITSolutions2.png"   height= "300px" width="1100px">
            </div>
            <div class="item">
                <!-- <h2>Slide 1</h2>
                <div class="carousel-caption">
                  <h3>First slide label</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                -->
                <img alt="" src="images/Training4.jpg" height="300px">
            </div>
            <div class="item">
                <!-- <h2>Slide 1</h2>
                <div class="carousel-caption">
                  <h3>First slide label</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                -->
                <img alt="" src="images/StaffingImage4.jpg" height="300px">
            </div>
            <div class="item">
			                <!-- <h2>Slide 1</h2>
			                <div class="carousel-caption">
			                  <h3>First slide label</h3>
			                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			                </div>
			                -->
			                <img alt="" src="images/WebDevelopmemt.jpg" height="300px">
            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#sliderCs" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#sliderCs" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
